<div class="container">
  <table class = "table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Created at</th>
    <th>Due on</th>
    <th>Status</th>
  </tr>
  <tr>
    <td>{{task.id}}</td>
    <td><input type="text" [(ngModel)]="task.name" /></td>
    <td><input type="text" [(ngModel)]="task.created_at" /></td>
    <td><input type="text" [(ngModel)]="task.due_on" /></td>
    <td><input type="text" [(ngModel)]="task.status" /></td>
    <td>
      <a routerLink="/task_list/">
        <button class = "btn btn-info" (click) = "updateTask(task)">Update</button>
      </a>
    </td>
    <td>
      <a routerLink="/task_list/">
        <button class = "btn btn-danger" (click) = "deleteTask(task)">Delete</button>
      </a>
    </td>
  </tr>
  </table>
</div>